* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.872);
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto;
}

.todolist-div {
  background-color: white;
  text-align: center;
  padding: 5px;

  ul {
    padding: 0;
    margin-top: -30px;
    background-color: rgba(255, 255, 255, 0);
  }
}

.mytodo {
  background-color: rgba(0, 0, 255, 0.799);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 15px 0;
  transition: all .2s;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 10px;
  }
}
.mytodo:hover {
  padding: 20px 15px;
}
.button-group {
  margin: 25px 0;
}
.button-group button:focus{
  color: red;
}
.mytodo-icon button {
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s;
}
.mytodo-icon button:hover {
  opacity: .7;
}
.mytodo .mytodo-icon svg {
  margin: 5px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  outline: none;
}

.mytodo .mytodo-icon button:first-of-type {
  border-color: red;
  color: red;
}

.mytodo .mytodo-icon button:nth-of-type(2) {
  border-color: rgb(2, 152, 2);
  color: rgb(2, 152, 2);
}

.mytodo .mytodo-icon button:last-of-type {
  border-color: #2be02b;
  color: rgb(43, 224, 43);
}

.add-buttons {
  margin-top: 10px;
}
.add-buttons input {
  padding: 15px;
}

@font-face {
  font-family: Roboto;
  src: url("/Roboto/static/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url("/Roboto/static/Roboto-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: Roboto;
  src: url("/Roboto/static/Roboto-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("/Roboto/static/Roboto-Bold.ttf");
  font-weight: bolder;
}
